button{
    width: 8rem;
}
 body{
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    align-items: center;
}

hr{
    width: 53%;
    margin-left: 23%;
}
.borderStyle{
    border: 1px solid grey;
}

