.commentInput{
   width: 100%;
 }
 

.comment{
   width: 100%;
   border: 1px solid gray;
   margin-top: 30px;
   margin-bottom: 30px;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.date{
   color: gray;
   font-size: small;
}