
.postStyle{
    border: 1px solid rgb(155, 155, 155);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.postText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttons{
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-basis: auto;
    min-width: 800px;
    position: relative;
}

.btn2{
    margin-left: 25px;
}

@media all and (max-width: 767px) {
    .buttons{
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-basis: auto;
        flex-direction: column;
    }
    .btn2{
        margin-left: 0;
        margin-top: 10px;
    }
    
}
